#page-anime {
  overflow: auto;
  display: flex;
  justify-content: flex-start;
}

#name-viewing-anime {
  margin: auto 5% auto 5%;
}

#container-info-anime-1 {
  width: 90%;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  text-align: center;
}

#container-info-anime-2 {
  border-radius: 10px;
  border-left: 4px solid var(--border-color);
  background: var(--gradient-1);
  padding: 0 5% 0 5%;
}
#container-info-anime-2 > h3 {
  display: block;
  width: 100%;
  height: max-content;
  padding: 2vmin;
  border-radius: 10px;
}
#container-info-anime-2 > h3:nth-child(2n) {
  background: var(--gradient-3);
}

#details-anime {
  margin: 18px 5% 18px 5%;
  width: 90%;
  border-radius: 10px;
  border-left: 4px solid var(--border-color);
  background: var(--gradient-1);
  padding: 5%;
}

#details-anime[open] #summary-anime {
  margin-bottom: 15px;
}

#video {
  width: 90%;
  min-height: 60vmin;
  max-height: max-content;
  margin: auto auto 25vmin auto;
}

/*альбомні стилі*/
@media (orientation: landscape) {
  #container-info-anime-1 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
  }
  #details-anime[open] #summary-anime {
    margin-bottom: 30px;
  }
}