/*стилі для книжноі орієнтаціі*/
#weblite {
  position: relative;
  background: var(--gradient-4);
}

#main-banner {
  height: 18%;
  position: fixed;
  top: 0%;
  flex-direction: row;
  border-bottom: 4px solid var(--border-color);
  background: var(--gradient-1);
  align-content: end;
}

#logo-container {
  width: max-content;
  height: 40%;
  flex-direction: row;
  position: absolute;
  top: 2vw;
  left: 2vh;
}
#logo-img {
  height: 100%;
  width: auto;
  aspect-ratio: 1/1;
}
#logo-text {
  margin: 0 0 0 1vw;
}

#btn-theme {
  height: 40%;
  width: auto;
  aspect-ratio: 1/1;
  position: absolute;
  top: 2vw;
  right: 2vh;
  border-radius: 10px;
  background: var(--gradient-5);
}
#btn-theme-2 {
  width: 75%;
  height: 75%;
  background-image: url(../img/style/light-theme.svg);
}

#container-input-search {
  height: 30%;
  width: auto;
  flex: 1;
  border: 4px solid var(--border-color);
  border-radius: 10px;
  flex-direction: row;
  padding-right: 2vw;
  margin: auto 2vh 4vw 2vh;
}
#input-search {
  text-align: center;
  border-radius: 10px;
  width: auto;
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  background-color: inherit;
}
#btn-search {
  height: 70%;
  width: auto;
  aspect-ratio: 1/1;
}

#bottom-banner {
  height: 8%;
  position: fixed;
  bottom: 0%;
  flex-direction: row;
  border-top: 4px solid var(--border-color);
  background: var(--gradient-2);
  justify-content: space-between;
}

.btn-bottom-banner,
#btn-top-page-2,
#btn-bottom-page-2 {
  height: 80%;
  width: auto;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-left: 2%;
  margin-right: 2%;
  background: var(--gradient-3);
}

/*активна кнопка*/
#btn-main-page {
  background: var(--gradient-5);
}

.btn-bottom-banner > img,
.btn-bottom-banner > svg {
  height: 80%;
  width: auto;
  aspect-ratio: 1/1;
}

#btn-top-page,
#btn-bottom-page {
  position: fixed;
  bottom: 30%;
  right: 2vh;
  height: 7%;
  width: auto;
  aspect-ratio: 1/1;
  border-radius: 10px;
  background: var(--gradient-5);
  z-index: 9999;
  cursor: pointer;
}
#btn-bottom-page {
  bottom: 20%;
}
#btn-top-page {
  display: none;
}
#btn-top-page > svg,
#btn-bottom-page > svg {
  width: 80%;
  height: 80%;
  margin: 10%;
  pointer-events: none;
}

#btn-top-page-2,
#btn-bottom-page-2 {
  display: none;
  background: var(--gradient-5);
}
#btn-top-page-2 > svg,
#btn-bottom-page-2 > svg {
  pointer-events: none;
  width: auto;
  height: 100%;
  aspect-ratio: 1/1;
}

#content-container {
  height: 74%;
  position: absolute;
  top: 18%;
  overflow: hidden;
}

/*стилі для альбомноі орієнтації*/
@media (orientation: landscape) {
  /*bottom banner*/
  #bottom-banner {
    height: 18%;
    justify-content: center;
  }
  
  #content-container {
    height: 64%;
  }
  
  #btn-top-page,
  #btn-bottom-page {
    height: 15%;
    bottom: 40%;
    display: none !important;
  }
  #btn-bottom-page {
    bottom: 20%;
  }
  
  #btn-top-page-2,
  #btn-bottom-page-2 {
    display: flex;
  }
  
  /*top banner*/
  #logo-container {
    height: 80%;
    position: static;
    margin-left: 2%;
  }
  
  #container-input-search {
    height: 70%;
    padding-right: 1vw;
    margin: 15% 2% 15% 2%;
  }
  
  #btn-theme {
    position: static;
    height: 80%;
    margin: 10% 2% 10% auto;
  }
}