/*стилі для книжноі орієнтаціі*/
#weblite {
  position: relative;
  background: var(--gradient-4);
}

#top_banner {
  height: 18%;
  position: fixed;
  top: 0%;
  flex-direction: row;
  border-bottom: 4px solid var(--border-color);
  background: var(--gradient-1);
  align-content: end;
}

#logo_container {
  width: max-content;
  height: 40%;
  flex-direction: row;
  position: absolute;
  top: 2vw;
  left: 2vh;
}
#logo_img {
  height: 100%;
  width: auto;
  aspect-ratio: 1/1;
}
#logo_text {
  margin: 0 0 0 1vw;
}

#button_theme_2 {
  height: 40%;
  width: auto;
  aspect-ratio: 1/1;
  position: absolute;
  top: 2vw;
  right: 2vh;
  border-radius: 10px;
  background: var(--gradient-5);
}
#button_theme {
  width: 75%;
  height: 75%;
  background-image: url(../img/style/light_theme.svg);
}

#container_input_search {
  height: 30%;
  width: auto;
  flex: 1;
  border: 4px solid var(--border-color);
  border-radius: 10px;
  flex-direction: row;
  padding-right: 2vw;
  margin: auto 2vh 4vw 2vh;
}
#input_search {
  text-align: center;
  border-radius: 10px;
  width: auto;
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  background-color: inherit;
}
#button_search {
  height: 70%;
  width: auto;
  aspect-ratio: 1/1;
}

.svg_element {
  stroke: var(--color-000);
}

#bottom_banner {
  height: 8%;
  position: fixed;
  bottom: 0%;
  flex-direction: row;
  border-top: 4px solid var(--border-color);
  background: var(--gradient-2);
}

.button_bottom_banner {
  height: 80%;
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  border-radius: 10px;
  margin-left: 2%;
  margin-right: 2%;
  background: var(--gradient-3);
}

/*активна кнопка*/
#button_main_document {
  background: var(--gradient-5);
}

.button_bottom_banner > img,
.button_bottom_banner > svg {
  height: 50%;
  width: auto;
  aspect-ratio: 1/1;
}

#button_top_document,
#button_bottom_document {
  position: fixed;
  bottom: 30%;
  right: 2vh;
  height: 7%;
  width: auto;
  aspect-ratio: 1/1;
  border-radius: 10px;
  background: var(--gradient-5);
  z-index: 9999;
  cursor: pointer;
}
#button_bottom_document {
  bottom: 20%;
}
#button_top_document {
  display: none;
}
#button_top_document > svg,
#button_bottom_document > svg {
  width: 80%;
  height: 80%;
  margin: 10%;
  pointer-events: none;
}

#button_top_document_2,
#button_bottom_document_2 {
  height: 80%;
  width: auto;
  aspect-ratio: 1/1;
  border-radius: 10px;
  display: none;
  background: var(--gradient-5);
}
#button_top_document_2 > svg,
#button_bottom_document_2 > svg {
  pointer-events: none;
  width: auto;
  height: 100%;
  aspect-ratio: 1/1;
}

#content_container {
  height: 74%;
  position: absolute;
  top: 18%;
  overflow: hidden;
}

/*стилі для альбомноі орієнтації*/
@media (orientation: landscape) {
  /*bottom banner*/
  #bottom_banner {
    height: 12%;
    /*height: 18%;*/
    justify-content: normal;
    
  }
  .button_bottom_banner {
    flex-direction: row;
    width: 22%;
  }
  .button_bottom_banner > img,
  .button_bottom_banner > svg {
    height: 100%;
  }
  
  #content_container {
    height: 70%;
  }
  
  #button_top_document,
  #button_bottom_document {
    height: 15%;
    bottom: 40%;
    display: none !important;
  }
  #button_bottom_document {
    bottom: 20%;
  }
  
  #button_top_document_2,
  #button_bottom_document_2 {
    display: flex;
    width: 8%;
    margin: auto 0vw auto 2vw;
  }
  
  /*top banner*/
  #logo_container {
    height: 80%;
    position: static;
    margin-left: 2%;
  }
  
  #container_input_search {
    height: 70%;
    padding-right: 1vw;
    margin: 15% 2% 15% 2%;
  }
  
  #button_theme_2 {
    position: static;
    height: 80%;
    margin: 10% 2% 10% auto;
  }
}
