/*сторінки*/
#main_document {display: flex;}/*flex*/
#document_profile {display: none;}/*flex*/
#document_register {display: none;}/*flex*/
#document_anime {display: none;}/*flex*/
/*меню сторінки*/
#document_weblite_detalis {display: none;}/*flex*/
/*інше*/
#text_dialog_remove_profile {display: flex;}/*flex*/
#container_dialog_profile_remove {display: none;}/*flex*/