/*стилі для книжноі орієнтаціі*/
html, body, div {
  width: 100%;
  height: 100%;
  padding: 0%;
  margin: 0%;
}

@font-face {
    font-family: 'MyCustomFont'; /* Любое имя для шрифта */
    src: url('944-font.ttf') format('truetype'); /* путь к файлу */
    font-weight: normal; /* насыщенность */
    font-style: normal; /* стиль */
}

* {
  flex-shrink: 0;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  color: var(--color-000);
  stroke: var(--color-000);
}

h1, h2 {
  font-family: 'Russo One', sans-serif;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: transparent;
  border: none;
}

li {
  margin: 5% auto;
}

textarea {
  resize: none;
}

.text-125 {
  font-size: 125%;
}
.text-150 {
  font-size: 150%;
}
.text-200 {
  font-size: 200%;
}

.text-no-margin {
  margin: 0;
}

.theme-content-1 {
  height: max-content;
  width: 100%;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  overflow: auto;
  gap: 5%;
}

.theme-content-2,
.theme-content-3 {
  height: max-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.anime-title,
.anime-score,
.anime-scored-by,
.anime-rank,
.anime-rating,
.anime-year {
  margin: auto 5% auto 5%;
}
.anime-score,
.anime-year,
.anime-rank,
.anime-rating {
  background-color: var(--color-f00);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  color: #fff;
  width: max-content;
  height: max-content;
  margin: 0;
  border-radius: 0 5px 0 5px;
}
.anime-year {
  right: auto;
  left: 0;
  border-radius: 5px 0 5px 0;
}
.anime-rank {
  top: auto;
  bottom: 0;
  border-radius: 5px 0 5px 0;
}
.anime-rating {
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
}

.anime-container-1 {
  width: 40vw;
  height: 100%;
}

.anime-container-2 {
  width: 90%;
  height: 100%;
  display: block;
  margin-left: 5%;
  margin-bottom: 5%;
}

.anime-1,
.anime-2,
.anime-3 {
  aspect-ratio: 5/7;
  border-radius: 10px;
  border: 4px solid var(--border-color);
  position: relative;
}
.anime-1,
.anime-2 {
  width: 100%;
  height: auto;
}
.anime-3 {
  width: 70%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 40px;
}

.anime-1:hover,
.anime-2:hover,
.anime-3:hover {
  transform: scale(0.95);
}

.container-all-law-protected {
  height: 20%;
  background-color: var(--color-999);
  border-top: 4px solid var(--border-color);
}
.text-all-law-protected {
  color: var(--color-333);
  margin: 10%;
}

/*стилі для альбомноі орієнтаціі*/
@media (orientation: landscape) {
  .theme-content-1 {
    width: 97.5%;
    gap: 2.5%;
  }
  
  .theme-content-2,
  .theme-content-3 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
  
  .anime-container-1 {
    width: 20vw;
  }
  
  .container-all-law-protected {
    height: 20%;
  }
}